* {
  margin: 0px;
}

.bg-container {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  height: 100%;
}

@media screen and (min-width: 768px) {
  .bg-container {
    height: 100vh;
  }
}

.emoji-con {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.emoji-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 50px 0px;
}
